/* general style  */
.dark-brown {
    background-color: rgb(35, 35, 35);
}

.brown {
    background-color: rgb(41, 37, 37);
    /* justify-content: top; */
}

.div-size {
    width: 60%;
    margin: 0 auto;
    color: white;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: rgb(139, 90, 0);
    margin: 10px 0;
}

.underline-thight {
    width: 100px;
    height: 2px;
    background-color: rgb(139, 90, 0);
    margin: 10px 0;
}

.title-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    color: white;
}

/* font face for icon  */
@font-face {
    font-family: "vag-handwrittenvaghandwritten";
    src: url("font/VAG-HandWritten-webfont.eot");
    src: url("font/VAG-HandWritten-webfont.eot?#iefix")
            format("embedded-opentype"),
        url("font/VAG-HandWritten-webfont.woff2") format("woff2"),
        url("font/VAG-HandWritten-webfont.woff") format("woff"),
        url("font/VAG-HandWritten-webfont.ttf") format("truetype"),
        url("font/VAG-HandWritten-webfont.svg#vag-handwrittenvaghandwritten")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

/* style for nav  */
.nav-cont {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.nav-icon {
    font-family: "vag-handwrittenvaghandwritten";
    font-size: 35px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.nav-menus {
    display: flex;
    justify-content: end;
}
.nav-menus a:link,
.nav-menus a:hover,
.nav-menus a:active,
.nav-menus a:visited {
    text-decoration: none;
    color: white;
}
.nav-pills .nav-link.active {
    background-color: rgb(255, 193, 7) !important;
    color: rgb(0, 0, 0) !important;
}
.nav-menu:hover {
    border-bottom: 1px solid rgb(255, 193, 7);
}
.bt-nav {
    border-color: white;
    outline: none;
    display: flex;
    align-items: center;
}
.bt-nav:active {
    border-color: white;
    outline: none;
}
.bt-nav span {
    border-color: white;
    color: white;
}
.container-nav-bt {
    display: hidden;
}

/* style for intro */
.container-jbtron {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.txt-jbtron {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

/* style for about me */
.botme-main {
    position: relative;
}
.container-botme {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.icon-botme-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.title-botme {
    position: absolute;
    transform: translateX(35%);
}
.icon {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 25px solid rgba(109, 71, 0, 0.5);
}

/* style for experience */
.container-experience {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.icon-experience-container {
    justify-self: end;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.title-experience {
    position: absolute;
    transform: translateX(-25%);
}
.icon-experience {
    width: 200px;
    height: 200px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 25px solid rgba(109, 71, 0, 0.5);
}
.experience-list {
    display: grid;
    grid-template-columns: 1fr 1.5fr 5fr;
    align-items: center;
    border-bottom: 1px solid rgba(109, 71, 0, 0.5);
    padding: 17px 0;
}
.bullet {
    width: 37px;
    height: 37px;
    border: 7px solid rgba(109, 71, 0, 0.5);
    transform: rotate(45deg);
}

/* style project made  */
.project-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.project-menu {
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.project-menu img {
    width: 100%;
    height: 100%;
}
.project-info {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-menu:nth-child(1):hover .project-info {
    animation: move-pr-info 600ms forwards;
}
.project-menu:nth-child(2):hover .project-info {
    animation: move-pr-info 600ms forwards;
}

/* style contact me */
.contact-info {
    display: flex;
    align-items: center;
}
.socmed {
    display: flex;
    gap: 3rem;
}
.contact-info button {
    background: transparent;
    border: 0;
}
.copy-button:hover {
    cursor: pointer;
}

@keyframes move-pr-info {
    0% {
        transform: translateY(-200px) translateX(700px);
    }
    100% {
        transform: translateY(-200px) translateX(0);
    }
}

@media screen and (max-width: 1300px) {
    .div-size {
        width: 70%;
        margin: 0 auto;
        color: white;
    }
}
@media screen and (max-width: 1000px) {
    .div-size {
        width: 80%;
        margin: 0 auto;
        color: white;
    }
    .project-content {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .div-size {
        width: 90%;
        margin: 0 auto;
        color: white;
    }
    .container-nav-bt {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .nav-ul {
        flex-direction: column;
    }
}
@media screen and (max-width: 650px) {
    /* style for intro */
    .container-jbtron {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img-jbtron"
            "txt-jbtron";
        justify-content: center;
    }
    .img-jbtron {
        grid-area: img-jbtron;
    }
    .txt-jbtron {
        grid-area: txt-jbtron;
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 25px 0;
        position: relative;
        z-index: 99;
        background-color: rgb(35, 35, 35);
    }

    /* style for about me */
    .container-botme {
        display: flex;
        flex-direction: column;
    }
    .icon-botme-container {
        display: flex;
    }
    .title-botme {
        width: 100%;
        position: static;
        transform: translate(0);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(41, 37, 37);
        padding: 10px 0;
    }
    .icon {
        display: none;
    }
    .project-content {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}
